* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;

  color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

p {
  font-family: "Lato", sans-serif;
  margin-top: 8px;
  color: #848484;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
}

h2 {
  font-size: 32px;
  padding: 0 35px;
  text-transform: capitalize;
  font-weight: 600;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.04);
}

h3 {
  font-size: 18px;
  text-transform: capitalize;
  line-height: 22px;
}

span {
  font-style: none;
  font-size: 16px;
  font-family: "Noto Serif TC", serif;
  font-weight: 100;
  color: #848484;
}

section {
  padding: 100px 0 100px 0;
  text-align: center;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10%;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: #fff;
  overflow: hidden;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

nav {
  width: 100%;
  height: 60px;
  text-align: right;
  opacity: 1;
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: 0.3s, background-color 0s;
}

#golden-logo {
  float: left;
  height: 55px;
  padding-top: 14px;
  transition: 0.3s;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  line-height: 75px;
  margin-left: 35px;
  padding: 2px 0;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  transition: 0.3s, background-color 0s;
  font-family: "Noto Sans", sans-serif;
}

nav li a:hover {
  color: rgba(0, 0, 0, 0.8);
  background: lightseagreen;
}

.nav-shrinked {
  height: 50px;
  background: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-shrinked ul li a {
  line-height: 50px;
  font-size: 20px;
}

.nav-shrinked #golden-logo {
  height: 50px;
}

.nav-shrinked .ham-nav {
  /* margin-top: 5px; */
}

.ham-nav {
  width: 50px;
  height: 50px;
  position: relative;
  top: 4px;
  transition: 0.35s;
  display: none;
}

.ham-nav a {}

.ham-nav a img {
  width: 100%;
  filter: grayscale(100%);
}

.welcome {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}

header h2 {
  font-style: none;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 100;
  font-family: "IBM Plex Mono", monospace;
  text-transform: none;
  letter-spacing: 2px;
  box-shadow: none;
  color: dimgray;
}

header h1 {
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 400;
  font-size: 60px;
  color: #000;
  letter-spacing: 0px;
  font-family: "IBM Plex Mono", monospace;
}

button {
  width: 220px;
  height: 60px;
  border-radius: 0px;
  border: none;
  text-transform: capitalize;
  line-height: 100%;
  font-size: 18px;
  font-weight: 1000;
  letter-spacing: 1px;
  color: #fff;
  background: black;
  border: 3px solid transparent;
  outline: none;
  cursor: pointer;
  transition: 0.15s;
  border: 3px solid black;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
}

button:hover {
  color: lightpink;
}

header button {
  background: black;
}

#more-btn {
  margin-top: 45px;
}

.more-info {
  background: #fff;
  opacity: 0.7;
  /* width: 320px; */
  padding: 15px;
  text-align: justify;
  /* margin: 30px; */
  position: relative;
  /* top: 50px; */
  border-radius: 6px;
  /* left: 0; */
  /* transform: translateX(calc(-100% - 110px)); */
}

.more-info p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #000;
  font-family: "IBM Plex Mono", monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4%;
  grid-row-gap: 40px;
  margin-top: 55px;
}

#portfolio {
  background: #fff;
}

.flex-container {
  margin-top: 55px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-box {
  background: red;
  background: #fff;
  overflow: hidden;
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.05);
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid rgba(0, 0, 0, 0.04);
  min-width: 200px;
  max-width: 250px;
  margin: 15px;
}

.portfolio-box h3 {
  margin-top: 8px;
  padding: 0 10px;
  text-align: left;
  color: #000;
}

.portfolio-box span {
  font-size: 16px;
}

.portfolio-box p {
  margin-bottom: 10px;
  padding: 0 10px 10px 10px;
  text-align: left;
}

.portfolio-box span {
  font-family: "Noto Sans", sans-serif;
}

.portfolio-box img {
  width: 100%;
}

.portfolio-link {
  padding: 0 4px;
  font-size: 16px;
  color: blue;
}

.about-box {
  position: relative;
  width: 50%;
  margin-top: 55px;
}

.about-box-left {
  float: left;
}

.about-content-left {
  text-align: right;
  padding-right: 110px;
}

.about-content-left p,
.about-box-right p {
  background: rgba(0, 0, 0, 0.1);
  color: black;
  opacity: 0.7;
  padding: 16px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  text-align: justify;
  margin-top: 12px;
}

.about-img {
  width: 134px;
  height: 134px;
  border-radius: 100px;
  position: absolute;
  background: #fff;
}

.about-img:before {
  content: "";
  font-size: 135px;
  position: relative;
  top: 100%;
  color: black;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.about-img-left {
  transform: translate(-50%);
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
  left: 100%;
}

.about-box-right {
  float: right;
}

.about-content-right {
  text-align: left;
  text-align: left;
  padding-left: 110px;
}

.about-img-right {
  box-shadow: -8px 8px 0px 0px rgba(0, 0, 0, 0.1);
  transform: translate(-50%);
}

.clearfix {
  clear: both;
}

.about-img-continue {
  width: 134px;
  height: 134px;
  border-radius: 100px;
  background-size: cover;
  transition: 0.2s;
  background: #fff;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
}

.about-img-continue:hover {
  background: #000;
}

.about-img-continue:hover h3 {
  color: lightseagreen;
}

.about-img-continue h3 {
  height: 100%;
  text-transform: uppercase;
  line-height: 22px;
  padding-top: 25px;
  letter-spacing: 1px;
  font-weight: 400;
}

#team {
  background: #fff;
  border-bottom: none;
}

.team-img {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 120px;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  background-size: cover;
}

#team h3 {
  margin-top: 14px;
}

#team p {
  margin-top: 4px;
}

.grid-container-icon-3 {
  display: grid;
  margin: 0 auto;
  width: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8px;
  margin-top: 8px;
}

.grid-container-icon-2 {
  display: grid;
  margin: 0 auto;
  width: 74px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
  margin-top: 8px;
}

#team a {
  width: 32px;
  height: 32px;
  border-radius: 30px;
  margin: 0 auto;
}

#team a:hover {
  box-shadow: 0px 0px 12px 0px silver;
}

.icon {
  width: 100%;
}

p.team-footer {
  padding-top: 35px;
  margin: 35px auto 0 auto;
  width: 60%;
}

#contact {
  background: lightblue;
}

#contact h2 {
  color: #000;
  /* box-shadow: none; */
}

#contact span {
  font-family: "IBM Plex Mono", monospace;
  color: rgba(0, 0, 0, 0.8);
}

.input-box {
  width: 50%;
  float: left;
  margin: 55px 0 12px 0;
}

#contact input,
#contact textarea {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
  box-sizing: border-box;
  line-height: 28px;
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 0 8px 15px;
  width: 94%;
  margin: 12px 0;
  box-shadow: inset 4px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

#contact input {
  text-transform: capitalize;
}

#contact textarea {
  height: 180px;
}

footer {
  height: 55px;
  position: relative;
}

.copyright {
  font-size: 12px;
  font-family: "Arial";
  font-weight: 600;
  position: absolute;
  padding-top: 18px;
}

.grid-container-icon-4 {
  display: grid;
  margin: 0 auto;
  width: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 8px;
  padding-top: 18px;
}

footer a {
  width: 42px;
  height: 42px;
  border-radius: 30px;
  margin: 0 auto;
  opacity: 0.9;
  transition: 0.1s;
}

footer a:hover {
  opacity: 0.3;
}

/* MEDIA QUERY */

@media (max-width: 992px) {
  .container {
    padding: 0 40px;
  }

  section {
    padding: 100px 0 80px 0;
  }

  header {
    height: 100vh;
  }

  #golden-logo {
    position: sticky;
    height: 50px;
    z-index: 1000;
  }

  nav {
    z-index: 2;
    height: 50px;
    background: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }

  nav ul {
    display: none;
  }

  .ham-nav {
    display: inline-block;
    z-index: 5;
    position: sticky;
  }

  nav ul li {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  nav ul li a {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 55px;
    color: #000;
    transition: 0s;
  }

  .nav-shrinked ul li a {
    line-height: 55px;
  }

  nav ul {
    transform: rotate(0deg);
    z-index: 2;
    position: fixed;
    right: -600px;
    top: -10px;
    width: 220px;
    height: 100vh;
    padding-top: 45px;
    padding-bottom: 25px;
    padding-right: 225px;
    text-align: left;
    padding-left: 35px;
    display: block;
    background: rgba(255, 255, 255, 1);
    transition: 0.4s;
    border-radius: 0px;
  }

  .nav-ul-opened {
    transform: rotate(3deg);
    right: -130px;
    background: #fff;
  }

  .blackout-on {
    position: fixed;
    width: 100%;
    height: 100vmax;
    z-index: 1;
    background: #3d3039;
    opacity: 0.3;
    transition: 0.5s;
  }

  .nav-opened {
    background: #fff;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .nav-shrinked ul li a {
    font-size: 30px;
  }

  .about-box {
    position: relative;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 75px;
  }

  .about-box-left {
    float: none;
  }

  .about-content-left {
    margin-top: 15px;
    text-align: center;
    padding-right: 0;
  }

  .about-img {
    width: 140px;
    height: 140px;
    border: 0px solid #f4f4f4;
    border-radius: 100px;
    position: relative;
    background: url("img/abouuut.jpg");
    background-size: cover;
  }

  .about-img:before {
    font-size: 0px;
  }

  .about-img-left {
    transform: none;
    left: 0;
    margin: 0 auto;
  }

  .about-box-right {
    float: none;
  }

  .about-content-left p,
  .about-content-right p {
    font-size: 16px;
  }

  .about-content-right {
    margin-top: 15px;
    text-align: center;
    padding-left: 0;
  }

  .about-img-right {
    transform: none;
    margin: 0 auto;
  }

  .clearfix {
    clear: both;
  }

  .about-img-continue {
    background: transparent;
    border: none;
  }

  .about-img-continue:hover {
    border: none;
    background: transparent;
  }

  .about-img-continue:hover h3 {
    color: black;
  }

  .about-img-continue h3 {
    color: #848484;
  }

  p.team-footer {
    padding-top: 35px;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4%;
    grid-row-gap: 40px;
    margin-top: 55px;
  }

  #portfolio .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .team-box {
    width: 320px;
    margin: 0 auto;
    text-align: left;
  }

  .team-img {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 35px;
  }

  #team h3 {
    margin-top: 15px;
  }

  #team p {
    margin-top: 4px;
  }

  .team-footer {
    font-size: 16px;
    text-align: justify;
  }

  .grid-container-icon-3 {
    float: left;
  }

  .grid-container-icon-2 {
    float: left;
  }

  .grid-container-sponsors {
    width: 80%;
    padding: 35px 0px;
  }

  .sponsors-icon {
    height: 40px;
    margin: 0 auto;
    filter: grayscale(1);
    opacity: 0.5;
  }

  #contact .container {
    width: 60%;
  }

  #contact p {
    margin-bottom: 35px;
  }

  #contact button {
    margin-top: 15px;
  }

  .input-box {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
  }

  .copyright {
    padding: 0;
    position: relative;
  }

  footer .grid-container-icon-4 {
    padding-bottom: 16px;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 0 20px;
  }

  nav ul {
    width: 30%;
  }

  header h1 {
    font-size: 42px;
  }

  header h2 {
    font-size: 16px;
  }

  .portfolio-box {
    width: 100%;
  }

  .about-content-left p,
  .about-content-right p {
    text-align: justify;
    font-size: 16px;
  }

  .about-content-left,
  .about-content-right {
    text-align: left;
  }

  #contact .container {
    width: 90%;
  }

  #contact input {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 18px;
  }

  h3 {
    font-size: 18px;
  }

  nav ul {
    width: 100%;
    height: 0px;
    padding-top: 85px;
    padding-bottom: 25px;
    padding-right: 0px;
    text-align: center;
    padding-left: 0;
    margin-left: 100px;
    top: -600px;
    right: 0px;
  }

  nav ul li a {
    font-size: 30px;
  }

  .flex-container {
    justify-content: center;
  }

  .portfolio-box {
    margin: 15px 0;
  }

  .team-img {
    width: 120px;
    height: 120px;
  }

  .grid-container-sponsors {
    width: 100%;
    padding: 25px 0px;
  }

  .sponsors-icon {
    height: 35px;
    margin: 0 auto;
    filter: grayscale(1);
    opacity: 0.5;
  }

  #contact .container {
    width: 80%;
  }

  .copyright {
    padding: 0;
    position: relative;
    text-align: center;
  }

  .nav-ul-opened {
    transform: rotate(0deg);
    top: 0px;
    right: 0;
    height: 100vh;
  }

  .about-content-left p,
  .about-content-right p {
    font-size: 16px;
    padding: 12px;
    text-align: left;
  }
}